<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635872399400-p19t0gbbqbepps0360dcqj7lsvuan8gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635872399400-p19t0gbbqbepps0360dcqj7lsvuan8gv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>635872399400-6foeiteqc1s782pm85mqfopvvt98meik.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXee5Uxe1HMYuLowvcy-E5WcrrQw6b5TA</string>
	<key>GCM_SENDER_ID</key>
	<string>635872399400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>desarrollo.LuxPremium</string>
	<key>PROJECT_ID</key>
	<string>lux-premium-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lux-premium-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635872399400:ios:748e59d43bd588ebe9651d</string>
</dict>
</plist>